{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<div class="container" style="margin-top:60px">
    <h2 class="text-center text-primary font-weight-bold">About Us</h2>
    <br><br>
    <div class="row">
        <div class="col-sm-4  text-center">
            <img src="{% static 'images/about-us.jpg' %}" alt="" width="300" height="200" class="image-responsive">
        </div>

        <div class="col-sm-8 text-center mt-5">
            Hello Friends <br>
            This is the Gym Centre where we provide all the fitness stuffs, facilities and management within this centre.</div>

    </div>
</div>
<footer class="text-center font-weight-bold mt-5 ">
    Copyright &copy; 2020, All rights reserved
</footer>


{% endblock %}